*{
    font-family: sans-serif;
}
.navbar {
    display: flex;
    justify-content: space-around;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    align-items: center;
}
.heading{
    color: rgb(132, 39, 39);
}
.nav-menu{
    display: flex;
    list-style-type: none;
    gap: 5rem;
    text-decoration: none;
    align-items: center;
}
.link{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: black;
}
.link:hover{
    color: rgb(132, 39, 39);
}

.User-Management {
    padding: 1rem 12rem;
}
.input-field{
    padding: 5px 10px;
    margin-left: 10px;
    overflow: hidden;
    border: none;
    border-bottom: 1px solid rgb(132, 39, 39);
    outline: none;
}
.user-btn{
    background-color: rgb(132, 39, 39);
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-left: 20px;
    border-radius: 5px;
}
form{
    width: 55%; 
    padding: 30px;
    border-radius: 10px;
    margin: 40px auto;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-data {
    width: 55%; 
    padding: 30px;
    border-radius: 10px;
    margin: 40px auto;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.user-list {
    list-style-type: none;
    margin-top: 2rem;
    justify-content: space-around;
    display: flex;
}
.user-list-btn{
    background-color: rgb(132, 39, 39);
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 5px;
}

.role-management {
    padding: 1rem 12rem;
}

.permission-management {
    padding: 1rem 12rem;
}
.permission-list{
    list-style-type: none;
}





@media (min-width: 350px) and (max-width: 760px) {
    body {
        margin: 0;
        padding: 0;
    }
    .heading {
        font-size: 16px; 
        text-align: center;
        margin: 10px 0; 
    }
    .navbar {
        width: 35rem;
        padding: 10px;
        display: flex; 
        justify-content: space-around; 
        background-color: #f8f9fa; 
    }
    .link {
        font-size: 12px;
        font-weight: 500;
        text-decoration: none; 
        color: #007bff; 
    }
    form {
        width: 20rem;
        padding: 10px;
        box-sizing: border-box; 
    }
    .User-Management{
        padding: 10px 70px;
    }
    .user-data {
        width: 25rem;
    }
    .role-management{
        padding: 10px 70px; 
    }
    .permission-management{
        width: 10rem;
        text-align: center;
        
    }
}
